[Unit]
Description=Tinc VPN daemon for network %i
After=network.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/usr/sbin/tincd --net %i
ExecReload=/usr/sbin/tinc --net %i reload

[Install]
WantedBy=multi-user.target
